/* App.css */

/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #38526e;
  color: #333;
  line-height: 1.6;
  background-image: url("./images/logoWhite.png");
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: top left;
}

/* Form container */
form {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

/* Form headings */
h1 {
  font-size: 36px;
  color: #333;
}
form h2 {
  margin-bottom: 15px;
  font-size: 24px;
  border-bottom: 2px solid #38526e;
  padding-bottom: 5px;
}

form h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #555;
}

/* Form labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Text inputs */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Checkbox and radio inputs */
input[type="checkbox"],
input[type="radio"] {
  margin-right: 10px;
}

a {
  color: #38526e;
  text-decoration: none;
}
.homeNavigation {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #38526e;
  color: #fff;
}

/* Checkbox and radio labels inline */
.checkbox-group,
.radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-group label,
.radio-group label {
  margin-right: 20px;
  font-weight: normal;
}

/* Submit button */
button[type="submit"] {
  display: inline-block;
  background-color: #38526e;
  color: #fff;
  padding: 12px 25px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 12px;
}

button[type="submit"]:hover {
  background-color: #2f445c;
  color: azure;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  form {
    padding: 15px;
  }

  button[type="submit"] {
    width: 100%;
    padding: 12px;
  }
}
